{% extends "base.html" %}
{% load static %}

{% block title %}Каталог книг{% endblock %}
{% block content %}
    <div class="container">
        <div class="header">
            <h1><a href="{% url 'books' %}">Каталог</a></h1>
        </div>
        <div class="row">
            {% for book in books %}

            <div class="book col-md-4">
                <h2>"{{ book.name }}"</h2>
                <p><i>Автор:</i><b> {{ book.author }}</b></p>
                <p><i>Дата публикации:</i><b> {{ book.pub_date|date:"Y-m-d" }}</b></p>
            </div>

            {% endfor %}
        </div>
    </div>
{% endblock %}